<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ecommerce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>

    {% include './components/navbar.html' %}

    <main>
        


<section class="curiosities">
    
     {% for loja in lojas %}
    <article class="curiosity-item style5">
        <img src="https://tec.mx/sites/default/files/styles/rectangular/public/repositorio/TECStore/tienda-toluca-tec-store-tec-de-monterrey.jpg?itok=zBht75eO" alt="Imagem Pet Store">
        <div class="curiosity-text">
            <h3>{{ loja.nome }}</h3>
            <p><strong>Ramo:</strong> {{ loja.ramo or "Não informado" }}</p>
             <p>{{ loja.descricao or "Sem descrição." }}</p>
             <a class="btn" href="/loja/{{ loja.id }}/produtos">Ver produtos</a>
        </div>
        
    </article>
    {% endfor %}

</section>


    </main>
{% include './components/footer.html' %}
   




</body>
</html>
