<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>

    <header>
    <nav>
        <h1>
            Ecommerce
        </h1>
        
        <nav>
            <ul>
                <li><a>Home</a></li>
            </ul>
            <ul>
                <li><a>Cadastro</a></li>
                <li><a>Carrinho</a></li>
                <li><a>Produtos</a></li>
            </ul>
        </nav>
    </nav>
    </header>


    {% include './components/navbar.html' %}
<h2>Produtos Disponíveis</h2>
{% for produto in produtos %}
    <div>
        <h3>{{ produto.nome }}</h3>
        <p>{{ produto.descricao }}</p>
        <p>Preço: R$ {{ produto.preco }}</p>
        <form method="POST" action="/adicionar_carrinho/{{ produto.id }}">
            <input type="number" name="quantidade" value="1" min="1">
            <button type="submit">Adicionar ao Carrinho</button>
        </form>
    </div>
{% endfor %}
    <main>
        <div>
            <input/>
            <button>🔎</button>
        </div>

        <div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            
        </div>

    </main>
    <footer>
    <img/>
    <img/>
    <img/>
    <img/>
    <img/>
</footer>
</body>
</html>