<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>

    <header>
    <nav>
        <h1>
            Ecommerce
        </h1>
        
        <nav>
            <ul>
                <li><a>Home</a></li>
            </ul>
            <ul>
                <li><a>Cadastro</a></li>
                <li><a>Carrinho</a></li>
                <li><a>Produtos</a></li>
            </ul>
        </nav>
    </nav>
    </header>

    <main>

        

    </main>
    <footer>
    <img/>
    <img/>
    <img/>
    <img/>
    <img/>
</footer>
</body>
</html>