<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
</head>
<body>

    <header>
    <nav>
        <h1>
            Ecommerce
        </h1>
        
        <nav>
            <ul>
                <li><a>Home</a></li>
            </ul>
            <ul>
                <li><a>Cadastro</a></li>
                <li><a>Carrinho</a></li>
                <li><a>Produtos</a></li>
            </ul>
        </nav>
    </nav>
    </header>

    <main>
        <div>
            <div>
            <h1>Nome do Produto</h1>
            <h2>Descrição do produto: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, pariatur voluptatum ullam consequuntur hic quaerat animi labore magni eveniet reiciendis illo dolor deserunt quo distinctio ratione eos sunt porro tempora.</h2>
            </div>
            <div>
            <img/>
            <img/>
            <img/>
            <img/>
            </div>
        </div>
        <div>
            <div>
            <img class="carrinho"/>
            <img class="curtir">
            <img class="descurtir">
            </div>
            <button>Pagar</button>
        </div>

        <h1>Outros Produtos</h1>
        <div>

            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            <div>
                <img src="" alt="">
                <div>
                    <h1>Tema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus corporis accusantium veritatis minus velit repellat corrupti enim nemo repellendus quod beatae sit omnis iure ut libero accusamus, deserunt vitae. Praesentium.</p>
                    <p>Preço: 12,34</p>
            </div>
                <button>Comprar</button>
            </div>
            
           
            
        </div>


    </main>
    <footer>
    <img/>
    <img/>
    <img/>
    <img/>
    <img/>
</footer>
</body>
</html>