<header class="header">
    <nav class="navbar">
        <h1 class="navbar-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#adff2f" viewBox="0 0 24 24">
                <path d="M5 12h2v2H5zm10 4h2v2h-2zM12 5h2v2h-2zM7 7h2v2H7zm8 8h2v2h-2zM4 16h2v2H4zm12-8h2v2h-2z"/>
            </svg>
            Ecommerce
        </h1>
        <ul class="navbar-menu">
            <li class="navbar-item"><a class="navbar-link" href="/"><svg class="link-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#adff2f" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>Home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/cadastroP">Cadastro</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/cadastroL">Cadastro Loja</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/carrinho">Carrinho</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/produtos">Produtos</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/perfil">Perfil</a></li>
        </ul>

        <div class="toggle-switch">
    <input type="checkbox" id="theme-toggle" class="checkbox" />
    <label for="theme-toggle" class="slider">
        <span class="icon"></span>
    </label>
</div>

    </nav>
</header>


<script>
        const toggle = document.getElementById('theme-toggle');
        toggle.addEventListener('change', () => {
            document.body.classList.toggle('dark-mode');
        });
    </script>